._card {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50vh;
  border: none !important;
}

img {
  width: 100%;
}

.card-title {
  padding: 2vh 0;
}

span {
  display: block;
}

#btn-google {
  text-decoration: none;
  border: 1px solid #9e79f2;
  padding: 1.5vh 3vh;
  color: #9e79f2;
  border-radius: 25px;
}

#btn-google:hover {
  color: #ffffff;
  background-color: #9e79f2;
}
