.out-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 50%;
  align-items: center;
}

.text {
  font-size: x-small;
}

.form-group {
  margin: 0.5vh;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
}

#btn-signIn {
  text-decoration: none;
  border-radius: 4vh;
  background-color: #9e79f2;
  color: #ffffff;
  border: 1px solid #9e79f2;
  padding: 1.5vh 3vh;
}

#btn-signIn:hover {
  color: #9e79f2;
  background-color: #ffffff;
}
