.out-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  width: 50%;
  align-items: center;
}

.text {
  font-size: x-small;
}

#btn-signIn {
  text-decoration: none;
  border-radius: 25px;
  background-color: #9e79f2;
  color: white;
  border: 1px solid #9e79f2;
  padding: 10px;
}

#btn-signIn:hover {
  color: #9e79f2;
  background-color: white;
}
